@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}


h1 {
  color: #FFFFFF;
  font-size: 80px;
  padding-top: 15px;
  text-align: center;
}

h3 {
  color: #FFFFFF;
  font-size: 50px;
  padding-top: 15px;
  text-align: center;
}

header {
  background: #F7C700;
  height: 100vh;
  width: 100%;
}

p {
  font-size: 16px;
  padding-top: 15px;
}

section {
  background: #9F9F9F;
  height: 800px;
  width: 100%;
}

footer {
  background: #000000;
  color: #FFFFFF;
  height: 50px;
  text-align: center;
  width: 100%;
}

.boton {
  background: #A70000;
  border-radius: 5px;
  height: 30px;
  margin-top: 50%;
  width: 100px;
}

.boton:hover {
  background: #A73A00;
}

.boton a {
  color: #FFFFFF;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.elemento {
  background: #FFFFFF;
  float: left;
  height: 250px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 20%;
}

.elemento p {
  font-size: 25px;
}
